@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
font-size: 10px;
}
body { 
     
    background: url('.images/background.png');
    background-position: 0 1000px;
    font-family: 'Roboto Condensed', sans-serif;
}
.container {
max-width: 1100px;
margin: 0 auto;
padding: 0 3rem;
margin-top: 4rem;
text-align: center;
}

h1 {
    color: goldenrod; 
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}
h2 {
    color: gold;
    font-size: 4rem;
    font-weight: 400;
}
p {
    font-size: 2rem;
    color: bisque;
    line-height: 5rem;
    margin-bottom: 5rem;
}
.btn {
    display: inline-block;
    padding: 2.7rem 7.5rem;
    background: #f6f6f6;
    font-size: 4rem;
    text-decoration: none;
    color: 398f51;
    border-radius: 10px;
    transition: background 0.5s;
}
.btn:hover {
    background: #dadada;
}